* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#fff;
  font-size: 20px;
  font-family: monospace;
}

.container {
  position: absolute;
  left: 50%;
  width: 600px;
  transform: translate(-50%);
  background: linear-gradient(90deg, #4ECDC4, #556270);  
  margin-top: 3rem;
  border-radius: 1.5625rem;
  box-shadow: 10px 10px 20px;
}

.header {
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
  color: white
}

.main {
  width: 100%;
  padding: 1rem;
}

.form {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.btn {
  padding: 0.5rem;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-self: center;
  margin: 1rem;
  width: 100%;
  justify-content: center;
  border-radius: 1.5625rem;
  border: 0rem;
  outline: none;
}

.btn:hover {
  background-color: darkgrey;
  color: white;
}

.btn:active {
  background-color: black;
}

input {
  outline: none;
  border: none;
  border-radius: 1.875rem;
  padding: 0.4rem;
  margin-top: 0.3rem;
}

.container-table {
  overflow: auto;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 0.8rem;
  border: 1px solid black;
  background-color:aliceblue ;
}

tr, td {
  padding:0.3125rem;
}

th {
  background: black;
  color: white;
}

tr:nth-child(even) {
  background: lightgray;
}

tr:hover {
  background: darkgrey;
}

.green {
  color: green;
}

.red {
  color: red;
}

@media screen and (max-width: 75rem){
  .container{
    width: 50vw;
  }
}

@media screen and (max-width: 56.25rem){
  .container {
    width: 60vw;
  }
}

@media screen and (max-width: 43.75rem){
  .container {
    width: 90vw;
  }
}
