* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#fff;
  font-size: 16px;
  font-family: monospace;
}

.container {
  min-width: 25rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(90deg, #4ECDC4, #556270);  
  margin-top: 3em;
}

.header {
  text-align: center;
  font-size: 0.8em;
  padding: 2em;
  border: 0.0625rem solid #000;
}

.main {
  padding: 1em;
  border-left: 0.0625rem solid #000;
  border-right: 0.0625rem solid #000;
  border-bottom: 0.0625rem solid #000;
}

.form {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
}

.btn {
  width: 50%;
  padding: 0.5em;
  color: darkblue;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  align-self: center;
  margin: 1em;
  width: 103%;
  justify-content: center;
  border-radius: 25px;
  border: 0px;
  outline: none;
}

.btn:hover {
  background-color: paleturquoise;
  color: white;
}

.btn:active {
  background-color: black;
}

input {
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 0.4em;
  margin-top: 0.3em;
}

table {
  border: 1px solid #000;
  padding: 0.3em;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  overflow: scroll;
}

tr, td {
  border: 1px solid #000;
}

th {
  background: darkslategrey;
  color: white;
  border: 1px solid #000;
}

tr:nth-child(even) {
  background: paleturquoise;
}

tr:hover {
  background: darkturquoise;
}

@media screen and (max-width: 500px){
  .container {
    width: 90vw;
    min-width: 0;
  }
}